body {
    font-family: 'Dancing Script', cursive;
    background-color: #f3fff3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 8s ease;
}

h1 {
    color: #4CAF50;
    margin-top: 10px;
    margin-bottom: 5px;
}

p {
    color: #333;
    text-align: left;
    font-family: 'Times', cursive;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Dancing Script', cursive;
    margin-top: 10px;
    opacity: 0;
    animation: appear 2s forwards;
}

button:hover {
    background-color: #45a049;
}

button2 {
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Dancing Script', cursive;
    margin-top: 10px;
}

button2:hover {
    background-color: #8B0000;
}

#container {
    max-width: 600px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 2s ease;
    opacity: 0.8;
}

#inputtext {
    color: #80E27E;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Times', cursive;
    opacity: 0;
    animation: appear 2s forwards;
}

#inputtext.shake {
    animation: appear 2s forwards, shake 3s ease infinite;
}

#stopShaking.shake {
    animation: shake 3s ease infinite;
}

#stopShaking.clicked {
    background-color: transparent;
    color: #80E27E;
    font-family: 'Times', cursive;
}

.message {
    opacity: 0;
    animation: fadeIn 5s ease forwards;
    animation-delay: 2s;
}

.typing-effect {
    border-right: 0.1em solid black; /* simulate the typing cursor */
    white-space: nowrap; /* prevent wrapping on whitespace */
    overflow: hidden; /* ensure that the content is clipped */
    width: 25ch; /* define the display width */
    animation: 
        typing 2s steps(14, end),
        blink-caret .5s step-end infinite,
        cursor-blink-off 0.1s forwards 1.5s;
}

.hidden {
    display: none;
}

.background-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img.bgImage {
    opacity: 0;
    width: 200px;
    object-fit: contain;
    transition: transform 1s, opacity 1s;
}

img.bgImage:hover {
    opacity: 1 !important;
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shake {
    0%   { transform: translate(1px, 1px) rotate(0deg); }
    10%  { transform: translate(-25px, -2px) rotate(-1deg); }
    20%  { transform: translate(-25px, 0) rotate(1deg); }
    30%  { transform: translate(25px, 2px) rotate(0deg); }
    40%  { transform: translate(25px, -1px) rotate(1deg); }
    50%  { transform: translate(-25px, 2px) rotate(-1deg); }
    60%  { transform: translate(-25px, 1px) rotate(0deg); }
    70%  { transform: translate(25px, 1px) rotate(-1deg); }
    80%  { transform: translate(-25px, -1px) rotate(1deg); }
    90%  { transform: translate(25px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@keyframes typing {
    from { width: 0; }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

@keyframes cursor-blink-off {
    to {
        border-color: transparent;
    }
}